h1 {
    color:brown;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
#myList {
    background-color: bisque;
    text-align: center;
    padding:20px;
}
#listItem {
    background-color: blanchedalmond;
    text-align: center;
    padding: 20px;
}

.taskElement {
    list-style-type: none;
}